*.class
*.log
/.idea/
/target/
/*/target/
journal/*
*/journal/
journal/exce
journal
journal/LOG
journal/CURRENT
*dev_*
/project/project/
*.mdb
akka-diagnostics/
akka-diagnostics/*
/mini-k8s-deploy.sh
.DS_Store
